<h1>Import File</h1>

<div class="mb-3">
  <label for="formFile" class="form-label">Select a CSV file to import</label>
  <%= form_tag import_imported_files_path, multipart: true do %>
    <label><%= file_field_tag :file, :required => true, class: 'form-control' %></label>
    <label><%= submit_tag "Import Contacts", class: 'btn btn-secondary' %></label>
  <% end %>
</div>