<h1>Contacts Importer App</h1>

<div class="d-grid col-6 pt-5">
  <p>Create an account to import contacts</p>
  <%= link_to "Sign Up", new_user_registration_path, class:"btn" %>
</div>

<div class="d-grid col-6 pt-5">
  <p>If you already have an account log in to access</p>
  <%= link_to "Log In", new_user_session_path, class:"btn" %>
</div>
